# Used Vehicle Price Prediction: KaggleX Skill Assessment Challenge
This work is for the participation the challenge mentioned in the title, aiming to predict used vehicle prices based on the data given.

## Dataset
We are given train.csv and test.csv, with the former (as the name suggests) having 12 features column an 1 target column of price. The test data lacks the target price column so has 12 columns.

The test data is usually large (from my experience), having about 36k rows compared to the 54k rows in the training dataset. (may make the prediction hard if the test data distribution is marginally different from training data?)

## Methodology
Off the top of my head I will approach this similar to my previous project where we follow the steps of:
1. data exploration: distribution, outliers, data types, correlation...
2. data preprocessing: data cleaning, feature engineering, train-test split
3. baseline modeling: use baseline models like decision trees, random forest & linear regression
4. model2 : build fancy model trying to beat baseline model
5. model tuning: overfit then prune? hyperparameter-tuning? monitor loss-curve? early stopping?
6. model evaluation?

# 1. Data Preparation

## 1.1 Data Loading

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/kagglex/sample_submission.csv
/kaggle/input/kagglex/train.csv
/kaggle/input/kagglex/test.csv

In [2]:
#load the train.csv into a dataframe
train_df = pd.read_csv('/kaggle/input/kagglex/train.csv')
test_df = pd.read_csv('/kaggle/input/kagglex/test.csv')

print(train_df.shape)
print(test_df.shape)

(54273, 13)
(36183, 12)

## 1.2 Data Exploration

In [3]:
train_df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [4]:
test_df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,54273,Mercedes-Benz,E-Class E 350,2014,73000,Gasoline,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,White,Beige,None reported,Yes
1,54274,Lexus,RX 350 Base,2015,128032,Gasoline,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Silver,Black,None reported,Yes
2,54275,Mercedes-Benz,C-Class C 300,2015,51983,Gasoline,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Blue,White,None reported,Yes
3,54276,Land,Rover Range Rover 5.0L Supercharged Autobiogra...,2018,29500,Gasoline,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,White,At least 1 accident or damage reported,Yes
4,54277,BMW,X6 xDrive40i,2020,90000,Gasoline,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,White,Black,At least 1 accident or damage reported,Yes

Quick look and the data suggest some columns should be more valuable than others?
* brand
* ~model??~
* model_year
* fuel_type
* milage (need transformation?)
* ext_col (need transformation, make it simple)
* accident

engine is a mess (need transformation), will not consider first as heuristically i think it might be less important. color can be important but not sure if enough. year, brand and accident should the most important.

lets check the distribution for numerical and unique value of each categorical column to further determine:

In [5]:
# check the distribution of numerical numbers
train_df.describe()

                 id    model_year         milage         price
count  54273.000000  54273.000000   54273.000000  5.427300e+04
mean   27136.000000   2015.091979   72746.175667  3.921844e+04
std    15667.409917      5.588909   50469.490448  7.282634e+04
min        0.000000   1974.000000     100.000000  2.000000e+03
25%    13568.000000   2012.000000   32268.000000  1.550000e+04
50%    27136.000000   2016.000000   66107.000000  2.800000e+04
75%    40704.000000   2019.000000  102000.000000  4.500000e+04
max    54272.000000   2024.000000  405000.000000  2.954083e+06

In [6]:
# check the distribution of numerical numbers
test_df.describe()

                 id    model_year         milage
count  36183.000000  36183.000000   36183.000000
mean   72364.000000   2015.063953   72479.266755
std    10445.276732      5.589336   50714.968252
min    54273.000000   1974.000000     100.000000
25%    63318.500000   2012.000000   31681.000000
50%    72364.000000   2016.000000   65680.000000
75%    81409.500000   2019.000000  102000.000000
max    90455.000000   2024.000000  405000.000000

The distribution of test data falls right in line with that of the training data's, which should be really good for producing accurate predictions.

In [7]:
# check unique values of categorical data
print("columns and respective unique values:")
print("brands:", train_df.brand.unique())
# print("model:", train_df.model.unique())
print("fuel_type:", train_df.fuel_type.unique())
print("ext_col:", train_df.ext_col.unique())
print("clean_title:", train_df.clean_title.unique())
print("accident:", train_df.accident.unique())

columns and respective unique values:
brands: ['Ford' 'BMW' 'Jaguar' 'Pontiac' 'Acura' 'Audi' 'GMC' 'Maserati'
 'Chevrolet' 'Porsche' 'Mercedes-Benz' 'Tesla' 'Lexus' 'Kia' 'Lincoln'
 'Dodge' 'Volkswagen' 'Land' 'Cadillac' 'Mazda' 'RAM' 'Subaru' 'Hyundai'
 'MINI' 'Jeep' 'Honda' 'Hummer' 'Nissan' 'Toyota' 'Volvo' 'Genesis'
 'Mitsubishi' 'Buick' 'INFINITI' 'McLaren' 'Scion' 'Lamborghini' 'Bentley'
 'Suzuki' 'Ferrari' 'Alfa' 'Rolls-Royce' 'Chrysler' 'Aston' 'Rivian'
 'Lotus' 'Saturn' 'Lucid' 'Mercury' 'Maybach' 'FIAT' 'Plymouth' 'Bugatti']
fuel_type: ['Gasoline' 'Hybrid' 'E85 Flex Fuel' 'Diesel' '–' 'Plug-In Hybrid'
 'not supported']
ext_col: ['Blue' 'Black' 'Purple' 'Gray' 'White' 'Red' 'Silver' 'Summit White'
 'Platinum Quartz Metallic' 'Green' 'Orange' 'Lunar Rock'
 'Red Quartz Tintcoat' 'Beige' 'Gold' 'Jet Black Mica'
 'Delmonico Red Pearlcoat' 'Brown' 'Rich Garnet Metallic'
 'Stellar Black Metallic' 'Yellow' 'Deep Black Pearl Effect' 'Metallic'
 'Ice Silver Metallic' 'Agate Black Metallic' 'Rosso Mars Metallic'
 'White Clearcoat' 'Santorini Black Metallic' 'DB Black Clearcoat'
 'Snowflake White Pearl' 'Glacial White Pearl' 'Maximum Steel Metallic'
 'Blue Caelum' 'Dark Matter Metallic' '–' 'Oxford White'
 'Cobra Beige Metallic' 'Velvet Red Pearlcoat' 'Python Green'
 'Obsidian Black Metallic' 'Beluga Black' 'Blue Reflex Mica'
 'Sparkling Silver' 'Black Clearcoat' 'Soul Red Crystal Metallic'
 'Bright White Clearcoat' 'Shimmering Silver' 'Midnight Black Metallic'
 'Cajun Red Tintcoat' 'Cirrus Silver Metallic' 'Blu'
 'Burnished Bronze Metallic' 'Hellayella Clearcoat' 'Diamond Black'
 'White Diamond Tri-Coat' 'Nebula Gray Pearl' 'Bronze Dune Metallic'
 'Polymetal Gray Metallic' 'Nightfall Gray Metallic' 'Fuji White'
 'Shadow Gray Metallic' 'Dark Moon Blue Metallic' 'Dark Sapphire'
 'Firecracker Red Clearcoat' 'Black Raven' 'White Knuckle Clearcoat'
 'Siren Red Tintcoat' 'Designo Magno Matte' 'Atomic Silver'
 'Billet Silver Metallic Clearcoat' 'Ember Pearlcoat' 'Magnetic Black'
 'Pacific Blue Metallic' 'Midnight Blue Metallic' 'Alta White'
 'Eiger Grey' 'Diamond White' 'Onyx' 'Hyper Red' 'Ebony Twilight Metallic'
 'Alpine White' 'Sonic Silver Metallic' 'Dark Ash Metallic'
 'Volcano Grey Metallic' 'Patriot Blue Pearlcoat' 'Onyx Black'
 'Titanium Silver' 'Granite Crystal Clearcoat Metallic' 'Nero Noctis'
 'Silver Zynith' 'Black Cherry' 'Iconic Silver Metallic' 'Nero Daytona'
 'Daytona Gray Pearl Effect' 'Dark Moss' 'Deep Crystal Blue Mica'
 'China Blue' 'Magnetic Metallic' 'Midnight Black' 'Vega Blue'
 'Sandstone Metallic' 'Machine Gray Metallic' 'C / C'
 'Platinum Gray Metallic' 'Silver Ice Metallic' 'Carrara White Metallic'
 'Black Sapphire Metallic' 'Go Mango!' 'White Frost Tri-Coat'
 'Lizard Green' 'Santorin Black' 'Twilight Black' 'Gecko Pearlcoat'
 'Satin Steel Metallic' 'Imperial Blue Metallic' 'Nautical Blue Pearl'
 'Stone Gray Metallic' 'Quartzite Grey Metallic' 'Majestic Black Pearl'
 'Shadow Black' 'Crimson Red Tintcoat' 'Silver Flare Metallic' 'Vik Black'
 'Lunar Silver Metallic' 'Maroon' 'Redline Red' 'Iridescent Pearl Tricoat'
 'Brilliant Silver Metallic' 'Lunar Blue Metallic' 'Matte White' 'Tan'
 'Stormy Sea' 'Twilight Blue Metallic' 'Ibis White'
 'Kodiak Brown Metallic' 'Crystal Black Silica' 'Sting Gray Clearcoat'
 'Pristine White' 'Pearl White' 'Antimatter Blue Metallic'
 'Tango Red Metallic' 'Crystal Black Pearl' 'Rift Metallic'
 'Glacier White Metallic' 'Quartz White' 'Black Obsidian'
 'Brilliant Black' 'Ruby Red Metallic Tinted Clearcoat'
 'Tungsten Metallic' 'Magnetite Black Metallic' 'Jupiter Red' 'Glacier'
 'Santorini Black' 'Navarre Blue'
 'Phantom Black Pearl Effect / Black Roof' 'Isle of Man Green Metallic'
 'Snowflake White Pearl Metallic' 'Brands Hatch Gray Metallic'
 'Volcanic Orange' 'Liquid Platinum' 'Bayside Blue'
 'Rapid Red Metallic Tinted Clearcoat' 'Majestic Plum Metallic'
 'White Platinum Tri-Coat Metallic' 'Mosaic Black Metallic' 'Chalk'
 'Black Noir Pearl' 'Nightfall Mica' 'Dark Gray Metallic'
 'Mythos Black Metallic' 'Blueprint' 'Quicksilver Metallic' 'Frozen White'
 'Lunare White Metallic' 'Verde' 'Dark Graphite Metallic' 'Mythos Black'
 'Ebony Black' 'Ultra Black' 'Ingot Silver Metallic'
 'Glacier Silver Metallic' 'Gun Metallic' 'Wind Chill Pearl'
 'Anodized Blue Metallic' 'designo Diamond White' 'Tempest' 'Caviar'
 'Phytonic Blue Metallic' 'Moonlight Cloud'
 'Daytona Gray Pearl Effect w/ Black Roof' 'Bianco Isis'
 'Carbonized Gray Metallic' 'Deep Blue Metallic' 'Ametrin Metallic'
 'Super Black' 'Rosso Corsa' 'Blue Metallic' 'Iridium Metallic'
 'Dark Slate Metallic' 'Manhattan Noir Metallic' 'Alfa White'
 'Baltic Gray' 'Northsky Blue Metallic' 'Super White'
 'Carbon Black Metallic' 'Horizon Blue' 'Jungle Green'
 'Cayenne Red Tintcoat' 'Pink' 'Daytona Gray' 'Gentian Blue Metallic'
 'Sangria Red' 'Kemora Gray Metallic' 'Magnetite Gray Metallic'
 'Octane Red Pearlcoat' 'Custom Color' 'Ultra White' 'Pacific Blue'
 'Ruby Flare Pearl' 'Caspian Blue' 'Silver Radiance'
 'Carpathian Grey Premium Metallic' 'Ice' 'Balloon White'
 'Shoreline Blue Pearl' 'Firenze Red Metallic' 'Remington Red Metallic'
 'Orca Black Metallic' 'Radiant Red Metallic II' 'Mineral White'
 'Glacier White' 'Snow White Pearl' 'Iridium Silver Metallic'
 'Carpathian Grey' 'Mountain Air Metallic' 'Selenite Gray Metallic'
 'Graphite Grey Metallic' 'Selenite Grey Metallic' 'Kinetic Blue'
 'Wolf Gray' 'Star White' 'Emin White' 'Indus Silver'
 'Matador Red Metallic' 'Portofino Gray' 'Black Forest Green'
 'Dazzling White' 'Flame Red Clearcoat' 'Glacier Blue Metallic'
 'Arctic White' 'Rosso' 'Silver Mist' 'Bianco Icarus Metallic'
 'Firenze Red' 'Ironman Silver' 'Red Obsession' 'Magnetic Gray Metallic'
 'Garnet Red Metallic' 'Vulcano Black Metallic' 'Magnetic Gray Clearcoat']
clean_title: ['Yes']
accident: ['None reported' 'At least 1 accident or damage reported']

In [8]:
# check unique values of categorical data
print("columns and respective unique values:")
print("brands:", test_df.brand.unique())
# print("model:", test_df.model.unique())
print("fuel_type:", test_df.fuel_type.unique())
print("ext_col:", test_df.ext_col.unique())
print("clean_title:", test_df.clean_title.unique())
print("accident:", test_df.accident.unique())

columns and respective unique values:
brands: ['Mercedes-Benz' 'Lexus' 'Land' 'BMW' 'Chevrolet' 'Dodge' 'Audi' 'Ford'
 'Kia' 'Toyota' 'Cadillac' 'GMC' 'Jeep' 'Mazda' 'Acura' 'INFINITI'
 'Volkswagen' 'Subaru' 'Hyundai' 'Jaguar' 'Porsche' 'Lincoln' 'Nissan'
 'RAM' 'Buick' 'Honda' 'MINI' 'Rolls-Royce' 'Genesis' 'Bentley' 'Volvo'
 'Saturn' 'Ferrari' 'Bugatti' 'Tesla' 'Pontiac' 'Hummer' 'Mitsubishi'
 'Maserati' 'Alfa' 'Scion' 'Lamborghini' 'Chrysler' 'McLaren' 'Lotus'
 'Rivian' 'Aston' 'FIAT' 'Lucid' 'Mercury' 'Suzuki' 'Saab' 'smart']
fuel_type: ['Gasoline' 'E85 Flex Fuel' 'Diesel' 'Hybrid' '–' 'Plug-In Hybrid'
 'not supported']
ext_col: ['White' 'Silver' 'Blue' 'Red' 'Black' 'Gray' 'Atomic Silver' 'Green'
 'Octane Red Pearlcoat' 'Purple' 'Diamond Black' 'Agate Black Metallic'
 '–' 'Orange' 'Polymetal Gray Metallic' 'Crystal Black Pearl'
 'Snowflake White Pearl' 'Jet Black Mica' 'Black Raven' 'Black Clearcoat'
 'Yellow' 'Metallic' 'Imperial Blue Metallic' 'Phytonic Blue Metallic'
 'Gold' 'Brown' 'Sonic Silver Metallic' 'Dark Ash Metallic' 'Matte White'
 'Summit White' 'Deep Crystal Blue Mica' 'Mosaic Black Metallic'
 'Nebula Gray Pearl' 'Silver Flare Metallic' 'Soul Red Crystal Metallic'
 'Orca Black Metallic' 'Antimatter Blue Metallic' 'Bright White Clearcoat'
 'Dark Sapphire' 'Ebony Twilight Metallic' 'Tungsten Metallic' 'Blu'
 'Magnetic Metallic' 'Beige' 'Sting Gray Clearcoat'
 'Machine Gray Metallic' 'Rosso Mars Metallic' 'Tan'
 'Iridescent Pearl Tricoat' 'Alpine White' 'Manhattan Noir Metallic'
 'White Frost Tri-Coat' 'White Knuckle Clearcoat' 'Iconic Silver Metallic'
 'Granite Crystal Clearcoat Metallic' 'Rift Metallic'
 'Obsidian Black Metallic' 'Oxford White' 'Stellar Black Metallic'
 'Delmonico Red Pearlcoat' 'Tango Red Metallic' 'Tempest'
 'Glacial White Pearl' 'Eiger Grey' 'Ultra White' 'Frozen White'
 'Deep Black Pearl Effect' 'Kinetic Blue' 'Iridium Metallic'
 'Shadow Gray Metallic' 'Hellayella Clearcoat' 'Lizard Green'
 'Midnight Black Metallic' 'Silver Ice Metallic' 'Onyx' 'Rosso'
 'Black Noir Pearl' 'China Blue' 'Beluga Black' 'Brilliant Black'
 'Mythos Black Metallic' 'Kodiak Brown Metallic' 'Shadow Black'
 'Rich Garnet Metallic' 'Patriot Blue Pearlcoat' 'Velvet Red Pearlcoat'
 'Ice Silver Metallic' 'Glacier Silver Metallic' 'C / C' 'Bayside Blue'
 'Dark Moon Blue Metallic' 'Satin Steel Metallic' 'Cajun Red Tintcoat'
 'White Diamond Tri-Coat' 'Quicksilver Metallic' 'Red Quartz Tintcoat'
 'Nero Noctis' 'Yulong' 'Black Forest Green' 'Isle of Man Green Metallic'
 'Santorini Black Metallic' 'Brilliant Silver Metallic' 'Pink'
 'Arctic White' 'Cobra Beige Metallic' 'Flame Red Clearcoat'
 'Wind Chill Pearl' 'Dark Slate Metallic' 'Firecracker Red Clearcoat'
 'Lunare White Metallic' 'Matador Red Mica' 'Shoreline Blue Pearl'
 'Platinum White Pearl' 'Bianco Icarus Metallic' 'Black Obsidian'
 'Billet Silver Metallic Clearcoat' 'Iridium Silver Metallic'
 'DB Black Clearcoat' 'Ruby Flare Pearl' 'Dark Moss'
 'Carbonized Gray Metallic' 'Ember Pearlcoat' 'Rosso Corsa'
 'Black Sapphire Metallic' 'Black Cherry' 'Infrared Tintcoat'
 'Siren Red Tintcoat' 'Remington Red Metallic' 'Daytona Gray Pearl Effect'
 'Phantom Black Pearl Effect / Black Roof' 'Chalk' 'Horizon Blue'
 'Silver Zynith' 'Carrara White Metallic' 'Billet Clearcoat Metallic'
 'Python Green' 'Silician Yellow' 'Maximum Steel Metallic' 'Ultra Black'
 'Fuji White' 'Pacific Blue' 'Volcano Grey Metallic' 'Twilight Black'
 'Ametrin Metallic' 'Crystal Black Silica' 'Majestic Black Pearl'
 'Alfa White' 'Majestic Plum Metallic' 'Twilight Blue Metallic'
 'Magnetic Black' 'Snowflake White Pearl Metallic' 'Wolf Gray'
 'Onyx Black' 'Carbon Black Metallic' 'Midnight Black'
 'Dark Matter Metallic' 'Pacific Blue Metallic' 'Glacier Blue Metallic'
 'Gecko Pearlcoat' 'Ibis White' 'Selenite Gray Metallic'
 'Shimmering Silver' 'Garnet Red Metallic' 'Cirrus Silver Metallic'
 'Nautical Blue Pearl' 'Quartzite Grey Metallic' 'Crimson Red Tintcoat'
 'Passion Red' 'Frozen Dark Silver Metallic' 'Mountain Air Metallic'
 'Super Black' 'Caviar' 'Santorini Black' 'Burnished Bronze Metallic'
 'Vik Black' 'Go Mango!' 'White Platinum Tri-Coat Metallic'
 'Anodized Blue Metallic' 'Hyper Red' 'Midnight Blue Metallic' 'Maroon'
 'Sandstone Metallic' 'Blue Reflex Mica' 'Nightfall Gray Metallic'
 'Super White' 'Magnetite Black Metallic' 'Stormy Sea'
 'Kemora Gray Metallic' 'Dark Gray Metallic' 'Crystal White Pearl'
 'Gun Metallic' 'Blue Metallic' 'Magnetic Gray Clearcoat' 'Pure White'
 'Ebony Black' 'Balloon White' 'Deep Blue Metallic' 'Silver Radiance'
 'Titanium Silver' 'Red Obsession' 'Glacier White Metallic'
 'Stone Gray Metallic' 'Moonlight Cloud' 'Vega Blue' 'Sangria Red'
 'Carpathian Grey Premium Metallic' 'Brands Hatch Gray Metallic'
 'Vulcano Black Metallic' 'Ruby Red Metallic Tinted Clearcoat'
 'Chronos Gray Metallic' 'Custom Color' 'Aventurine Green Metallic'
 'Santorin Black' 'Quartz White' 'Daytona Gray' 'Indus Silver'
 'Rapid Red Metallic Tinted Clearcoat' 'Ice' 'Diamond White'
 'Chronos Gray' 'Alta White' 'Eminent White Pearl'
 'Magnetite Gray Metallic' 'Nero Daytona' 'Snow White Pearl' 'Redline Red'
 'Mineral White' 'Obsidian' 'Matador Red Metallic' 'Sparkling Silver']
clean_title: ['Yes']
accident: ['None reported' 'At least 1 accident or damage reported']

lets check missing data:

In [9]:
# check missing values
print("NaN value in brand:", train_df.brand.isna().sum())
print("NaN value in model:", train_df.model.isna().sum())
print("NaN value in model_year:", train_df.model_year.isna().sum())
print("NaN value in fuel_type:", train_df.fuel_type.isna().sum())
print("'-' or 'not supported' value in fuel_type:", train_df[(train_df.fuel_type == '–') | (train_df.fuel_type == 'not supported')].shape[0])
print("NaN value in milage:", train_df.milage.isna().sum())
print("NaN value in ext_col:", train_df.ext_col.isna().sum())
print("'-' in ext_col:", train_df[train_df.ext_col == '–'].shape[0])
print("NaN value in accident:", train_df.accident.isna().sum())
print("NaN value in price:", train_df.price.isna().sum())
print("0 value in price:", train_df[(train_df.price == 0)].shape[0])

NaN value in brand: 0
NaN value in model: 0
NaN value in model_year: 0
NaN value in fuel_type: 0
'-' or 'not supported' value in fuel_type: 298
NaN value in milage: 0
NaN value in ext_col: 0
'-' in ext_col: 41
NaN value in accident: 0
NaN value in price: 0
0 value in price: 0

In [10]:
# check missing values
print("NaN value in brand:", test_df.brand.isna().sum())
print("NaN value in model:", test_df.model.isna().sum())
print("NaN value in model_year:", test_df.model_year.isna().sum())
print("NaN value in fuel_type:", test_df.fuel_type.isna().sum())
print("'-' or 'not supported' value in fuel_type:", test_df[(test_df.fuel_type == '–') | (test_df.fuel_type == 'not supported')].shape[0])
print("NaN value in milage:", test_df.milage.isna().sum())
print("NaN value in ext_col:", test_df.ext_col.isna().sum())
print("'-' in ext_col:", test_df[test_df.ext_col == '–'].shape[0])
print("NaN value in accident:", test_df.accident.isna().sum())

NaN value in brand: 0
NaN value in model: 0
NaN value in model_year: 0
NaN value in fuel_type: 0
'-' or 'not supported' value in fuel_type: 201
NaN value in milage: 0
NaN value in ext_col: 0
'-' in ext_col: 27
NaN value in accident: 0

quick thoughts upon inspection:

There are columns that are clearly useful and important:
* *brands*
* *model_year*
* *milage*
* *accident*, can be changed to 1 & 0 to indicate

There are also columns that needs work:
* *fuel_type* has some missing value & might be useful, we will drop columns with missing values & proceed, and change 'E85 Flex Fuel' to 'Gasoline' aaaand 'Plug-In Hybrid' to 'Hybrid'
* *ext_col* may be useful, but there is a few missing values & need transformation (try to convert most to simple color: white, red, black etc)

Finally there are columns deemed not significant and we will proceed without for now:
* *model* will not be used for now, a lot of work to do and seems less significant

Also it is noteworthy that the target value *price* is free of missing value or 0

# 2. Data Preprocessing
## 2.1 Data Cleaning
remove rows with *fuel_type* having missing values

In [11]:
train_df = train_df[train_df['fuel_type'] != '–']
train_df = train_df[train_df['fuel_type'] != 'not supported']
train_df = train_df[train_df['ext_col'] != '–']
print("'-' or 'not supported' value in fuel_type:", train_df[(train_df.fuel_type == '–') | (train_df.fuel_type == 'not supported')].shape[0])
print("'-' in ext_col:", train_df[train_df.ext_col == '–'].shape[0])
train_df.shape

'-' or 'not supported' value in fuel_type: 0
'-' in ext_col: 0

(53935, 13)

In [12]:
test_df = test_df[test_df['fuel_type'] != '–']
test_df = test_df[test_df['fuel_type'] != 'not supported']
test_df = test_df[test_df['ext_col'] != '–']
print("'-' or 'not supported' value in fuel_type:", test_df[(test_df.fuel_type == '–') | (test_df.fuel_type == 'not supported')].shape[0])
print("'-' in ext_col:", test_df[test_df.ext_col == '–'].shape[0])
test_df.shape

'-' or 'not supported' value in fuel_type: 0
'-' in ext_col: 0

(35955, 12)

## 2.2 Data Transformation

### 2.2.1 Replacing values in accident & fuel_type

In [13]:
pd.set_option('future.no_silent_downcasting', True)

In [14]:
# Change accident to numerical of 1 & 0
train_df['accident'] = train_df['accident'].replace('None reported', 0 )
train_df['accident'] = train_df['accident'].replace('At least 1 accident or damage reported', 1 )
print("train accident:", train_df.accident.unique())

test_df['accident'] = test_df['accident'].replace('None reported', 0 )
test_df['accident'] = test_df['accident'].replace('At least 1 accident or damage reported', 1 )
print("test accident:", test_df.accident.unique())

train accident: [0 1]
test accident: [0 1]

In [15]:
# Change fuel_type to narrow down the types
train_df['fuel_type'] = train_df['fuel_type'].replace('E85 Flex Fuel', 'Gasoline')
train_df['fuel_type'] = train_df['fuel_type'].replace('Plug-In Hybrid', 'Hybrid')
print("train fuel_type:", train_df.fuel_type.unique())

test_df['fuel_type'] = test_df['fuel_type'].replace('E85 Flex Fuel', 'Gasoline')
test_df['fuel_type'] = test_df['fuel_type'].replace('Plug-In Hybrid', 'Hybrid')
print("test fuel_type:", test_df.fuel_type.unique())

train fuel_type: ['Gasoline' 'Hybrid' 'Diesel']
test fuel_type: ['Gasoline' 'Diesel' 'Hybrid']

### 2.2.2 Deal with the strings in column ext_col to make them more generic
turn weird color names into general colors (e.g. white, black, blue...)
make a new column?
then mayyybe remove the weird colors if there is minimal of them? want to make sure the test data has same distribution tho....

In [16]:
# Define a dictionary mapping generic color names to their potential variations
color_map = {
    'white': ['white', 'snow', 'ivory', 'pearl', 'cream', 'frost', 'glacier', 'ice', 'chalk', 'yulong'],
    'black': ['black', 'ebony', 'onyx', 'jet', 'noir', 'raven', 'nightfall', 'nero', 'noctis', 'moonlight', 'obsidian'],
    'blue': ['blue', 'navy', 'sapphire', 'indigo', 'caelum', 'reflex', 'sea', 'tempest', 'blu'],
    'red': ['red', 'crimson', 'scarlet', 'ruby', 'maroon', 'sangria', 'mars', 'corsa', 'rosso'],
    'green': ['green', 'olive', 'emerald', 'jade', 'lime', 'jungle', 'moss', 'caviar', 'verde'],
    'yellow': ['yellow', 'gold', 'lemon', 'amber', 'hellayella'],
    'silver': ['silver', 'platinum', 'steel', 'zynith', 'radiance', 'metallic', 'magno'], # we mayyy want to remove metallic from silver...
    'purple': ['purple', 'lavender', 'amethyst', 'violet', 'plum'],
    'gray': ['gray', 'grey', 'charcoal', 'slate', 'graphite', 'ash'],
    'orange': ['orange', 'tangerine', 'apricot', 'peach', 'mango'],
    'brown': ['brown', 'tan', 'chocolate', 'camel', 'khaki', 'dune'],
    'beige': ['beige', 'cream', 'vanilla', 'linen', 'isis', 'lunar']
}

def transform_color(color_str):
    color_str = color_str.lower()
    for generic_color, variations in color_map.items():
        for variation in variations:
            if variation in color_str:
                return generic_color.capitalize()
    return color_str

# Apply the transform_color function to the 'Color' column
train_df2 = train_df.copy()
train_df2['ext_col'] = train_df2['ext_col'].apply(transform_color)
print("train ext_col:", train_df2.ext_col.unique())

test_df2 = test_df.copy()
test_df2['ext_col'] = test_df2['ext_col'].apply(transform_color)
print("test ext_col:", test_df2.ext_col.unique())

train ext_col: ['Blue' 'Black' 'Purple' 'Gray' 'White' 'Red' 'Silver' 'Green' 'Orange'
 'Beige' 'Yellow' 'Brown' 'c / c' 'pink' 'custom color']
test ext_col: ['White' 'Silver' 'Blue' 'Red' 'Black' 'Gray' 'Green' 'Purple' 'Orange'
 'Yellow' 'Brown' 'Beige' 'c / c' 'pink' 'custom color']

In [17]:
print(" pink in ext_col:", train_df2[train_df2.ext_col == 'pink'].shape[0])
print(" c / c in ext_col:", train_df2[train_df2.ext_col == 'c / c'].shape[0])
print(" custom color in ext_col:", train_df2[train_df2.ext_col == 'custom color'].shape[0])

# Remove rows with edge cases
train_df2 = train_df2[train_df2['ext_col'] != 'pink']
train_df2 = train_df2[train_df2['ext_col'] != "c / c"]
train_df2 = train_df2[train_df2['ext_col'] != 'custom color']
print("ext_col:", train_df2.ext_col.unique())
train_df2.shape

 pink in ext_col: 7
 c / c in ext_col: 14
 custom color in ext_col: 1
ext_col: ['Blue' 'Black' 'Purple' 'Gray' 'White' 'Red' 'Silver' 'Green' 'Orange'
 'Beige' 'Yellow' 'Brown']

(53913, 13)

In [18]:
print(" pink in ext_col:", test_df2[test_df2.ext_col == 'pink'].shape[0])
print(" c / c in ext_col:", test_df2[test_df2.ext_col == 'c / c'].shape[0])
print(" custom color in ext_col:", test_df2[test_df2.ext_col == 'custom color'].shape[0])

# Remove rows with edge cases
test_df2 = test_df2[test_df2['ext_col'] != 'pink']
test_df2 = test_df2[test_df2['ext_col'] != "c / c"]
test_df2 = test_df2[test_df2['ext_col'] != 'custom color']
print("ext_col:", test_df2.ext_col.unique())
test_df2.shape

 pink in ext_col: 4
 c / c in ext_col: 6
 custom color in ext_col: 1
ext_col: ['White' 'Silver' 'Blue' 'Red' 'Black' 'Gray' 'Green' 'Purple' 'Orange'
 'Yellow' 'Brown' 'Beige']

(35944, 12)

In [19]:
# drop some useless columns
drop_col = ['model', 'engine', 'transmission', 'int_col', 'clean_title']
train_df2 = train_df2.drop(drop_col, axis=1)
train_df2.head(10)

   id    brand  model_year  milage fuel_type ext_col accident  price
0   0     Ford        2018   74349  Gasoline    Blue        0  11000
1   1      BMW        2007   80000  Gasoline   Black        0   8250
2   2   Jaguar        2009   91491  Gasoline  Purple        0  15000
3   3      BMW        2022    2437    Hybrid    Gray        0  63500
4   4  Pontiac        2001  111000  Gasoline   White        0   7850
5   5    Acura        2003  124756  Gasoline     Red        1   4995
6   6     Audi        2014  107380  Gasoline    Gray        0  26500
7   7      GMC        2019   51300  Gasoline   White        1  25500
8   8     Audi        2016   87842  Gasoline  Silver        0  13999
9   9    Acura        2007  152270  Gasoline    Gray        1   6700

In [20]:
test_df2 = test_df2.drop(drop_col, axis=1)
test_df2.head(10)

      id          brand  model_year  milage fuel_type ext_col accident
0  54273  Mercedes-Benz        2014   73000  Gasoline   White        0
1  54274          Lexus        2015  128032  Gasoline  Silver        0
2  54275  Mercedes-Benz        2015   51983  Gasoline    Blue        0
3  54276           Land        2018   29500  Gasoline   White        1
4  54277            BMW        2020   90000  Gasoline   White        1
5  54278      Chevrolet        2018    2894  Gasoline  Silver        0
6  54279           Land        2019   41200  Gasoline  Silver        1
7  54280           Land        2019   58000  Gasoline   White        1
8  54281          Dodge        2013  124705  Gasoline     Red        1
9  54282           Audi        2022   29850  Gasoline   Black        0

### 2.2.3 ~One-hot~ Encoding the categorical data
there is actually quite an amount of color type (12) and even more brand... we need to do other types of encoding:

* label encoding: using unique integer value to encode (can introduce unwanted relationship)
* frequent/ infrequent encoding: we can group the infrequent categories into single cat to prevent high cardinality, lets look into this first

as for fuel_type, we will perform one-hot encoding since there is only 3 unique values

In [21]:
# see the unique value counts of the high cardinality columns
print(train_df2['brand'].value_counts())
print(train_df2['ext_col'].value_counts())

brand
BMW              7367
Ford             6664
Mercedes-Benz    5074
Chevrolet        4395
Audi             2916
Porsche          2602
Toyota           2298
Lexus            2257
Jeep             2237
Land             1993
Cadillac         1552
Nissan           1229
GMC              1074
RAM               966
INFINITI          957
Dodge             952
Lincoln           766
Subaru            738
Mazda             723
Hyundai           694
Jaguar            654
Volkswagen        628
Honda             615
Acura             575
Kia               526
Volvo             445
MINI              363
Maserati          293
Bentley           269
Genesis           249
Chrysler          248
Buick             228
Mitsubishi        182
Hummer            176
Pontiac           149
Alfa              144
Rolls-Royce       124
Lamborghini       114
Tesla             110
Ferrari            86
Saturn             58
Scion              53
Aston              49
McLaren            43
Rivian             27
FIAT               16
Mercury            12
Lotus              12
Suzuki              4
Maybach             3
Lucid               2
Plymouth            1
Bugatti             1
Name: count, dtype: int64
ext_col
Black     15678
White     13995
Gray       7902
Silver     5569
Blue       4761
Red        3176
Yellow      789
Green       765
Beige       457
Brown       396
Orange      335
Purple       90
Name: count, dtype: int64

seeing how many relatively rare values there are, we can suggest:

* Grouping brand of less than 500 to 'Others', reducing 53 to 26
* Grouping ext_col of less than 1000 to 'Other", reducing 12 to 7

In [22]:
other_color = ['Yellow', 'Green', 'Beige', 'Brown', 'Orange', 'Purple']
other_brand = ['Volvo', 'MINI', 'Maserati', 'Bentley', 'Genesis', 'Chrysler', 'Buick', 'Mitsubishi', 'Hummer', 'Pontiac', 'Alfa', 
               'Rolls-Royce', 'Lamborghini', 'Tesla', 'Ferrari', 'Saturn', 'Scion', 'Aston', 'McLaren', 'Rivian', 'FIAT',
               'Lotus', 'Mercury', 'Suzuki', 'Maybach', 'Lucid', 'Plymouth', 'Bugatti', 'Saab', 'smart']

# Using replace function to group edge cases of brand & ext_col
train_df3 = train_df2.copy()
train_df3['ext_col'] = train_df3['ext_col'].replace(other_color, 'other')
train_df3['brand'] = train_df3['brand'].replace(other_brand, 'other')

test_df3 = test_df2.copy()
test_df3['ext_col'] = test_df3['ext_col'].replace(other_color, 'other')
test_df3['brand'] = test_df3['brand'].replace(other_brand, 'other')

In [23]:
print(train_df3['brand'].value_counts())
print(train_df3['ext_col'].value_counts())

brand
BMW              7367
Ford             6664
Mercedes-Benz    5074
Chevrolet        4395
other            3461
Audi             2916
Porsche          2602
Toyota           2298
Lexus            2257
Jeep             2237
Land             1993
Cadillac         1552
Nissan           1229
GMC              1074
RAM               966
INFINITI          957
Dodge             952
Lincoln           766
Subaru            738
Mazda             723
Hyundai           694
Jaguar            654
Volkswagen        628
Honda             615
Acura             575
Kia               526
Name: count, dtype: int64
ext_col
Black     15678
White     13995
Gray       7902
Silver     5569
Blue       4761
Red        3176
other      2832
Name: count, dtype: int64

In [24]:
print(test_df3['brand'].value_counts())
print(test_df3['ext_col'].value_counts())

brand
BMW              4854
Ford             4362
Mercedes-Benz    3257
Chevrolet        2973
other            2320
Audi             1916
Porsche          1792
Toyota           1562
Lexus            1530
Jeep             1502
Land             1360
Cadillac         1050
Nissan            908
GMC               746
INFINITI          666
Dodge             655
RAM               606
Mazda             512
Lincoln           496
Subaru            492
Jaguar            446
Hyundai           436
Honda             401
Acura             379
Volkswagen        376
Kia               347
Name: count, dtype: int64
ext_col
Black     10397
White      9189
Gray       5377
Silver     3710
Blue       3221
Red        2155
other      1895
Name: count, dtype: int64

In [25]:
# Define your own encoding dictionary
ext_col_encoding = {
    'Black': 0,
    'White': 1,
    'Gray': 2,
    'Silver': 3,
    'Blue': 4,
    'Red': 5,
    'other': 6    
}

brand_encoding = {
    'BMW': 0, 
    'Ford': 1,
    'Mercedes-Benz': 2,
    'Chevrolet': 3,
    'Audi': 4,
    'Porsche': 5,
    'Toyota': 6,
    'Lexus': 7,  
    'Jeep': 8,  
    'Land': 9,  
    'Cadillac': 10,  
    'Nissan': 11,  
    'GMC': 12,  
    'INFINITI': 13,  
    'Dodge': 14,  
    'RAM': 15,  
    'Mazda': 16,  
    'Lincoln': 17,  
    'Subaru': 18,  
    'Jaguar': 19,  
    'Hyundai': 20,  
    'Honda': 21,  
    'Acura': 22,  
    'Volkswagen': 23,  
    'Kia': 24,  
    'other': 25
}


# Encode the 'ext_col' column using the predefined dictionary
train_df3['ext_col_encoded'] = train_df3['ext_col'].map(ext_col_encoding)
train_df3['brand_encoded'] = train_df3['brand'].map(brand_encoding)

# One-hot encode fuel_type
train_df3 = pd.get_dummies(train_df3, columns=['fuel_type'], dtype='int')

train_df3.head()

,id,brand,model_year,milage,ext_col,accident,price,ext_col_encoded,brand_encoded,fuel_type_Diesel,fuel_type_Gasoline,fuel_type_Hybrid
0,0,Ford,2018,74349,Blue,0,11000,4,1,0,1,0
1,1,BMW,2007,80000,Black,0,8250,0,0,0,1,0
2,2,Jaguar,2009,91491,other,0,15000,6,19,0,1,0
3,3,BMW,2022,2437,Gray,0,63500,2,0,0,0,1
4,4,other,2001,111000,White,0,7850,1,25,0,1,0

In [26]:
# Encode the 'ext_col' column using the predefined dictionary
test_df3['ext_col_encoded'] = test_df3['ext_col'].map(ext_col_encoding)
test_df3['brand_encoded'] = test_df3['brand'].map(brand_encoding)

# One-hot encode fuel_type
test_df3 = pd.get_dummies(test_df3, columns=['fuel_type'], dtype='int')

test_df3.head()

,id,brand,model_year,milage,ext_col,accident,ext_col_encoded,brand_encoded,fuel_type_Diesel,fuel_type_Gasoline,fuel_type_Hybrid
0,54273,Mercedes-Benz,2014,73000,White,0,1,2,0,1,0
1,54274,Lexus,2015,128032,Silver,0,3,7,0,1,0
2,54275,Mercedes-Benz,2015,51983,Blue,0,4,2,0,1,0
3,54276,Land,2018,29500,White,1,1,9,0,1,0
4,54277,BMW,2020,90000,White,1,1,0,0,1,0

### 2.2.4 Make a new dataframe for the preprocessed data

In [27]:
train_df = train_df3[['id', 'model_year', 'milage', 'fuel_type_Diesel', 'fuel_type_Gasoline', 'fuel_type_Hybrid', 'accident', 'brand_encoded', 
                      'ext_col_encoded', 'price']].copy()
train_df.head()

,id,model_year,milage,fuel_type_Diesel,fuel_type_Gasoline,fuel_type_Hybrid,accident,brand_encoded,ext_col_encoded,price
0,0,2018,74349,0,1,0,0,1,4,11000
1,1,2007,80000,0,1,0,0,0,0,8250
2,2,2009,91491,0,1,0,0,19,6,15000
3,3,2022,2437,0,0,1,0,0,2,63500
4,4,2001,111000,0,1,0,0,25,1,7850

In [28]:
test_df = test_df3[['id', 'model_year', 'milage', 'fuel_type_Diesel', 'fuel_type_Gasoline', 'fuel_type_Hybrid', 
                    'accident', 'brand_encoded', 'ext_col_encoded']].copy()
test_df.head()

,id,model_year,milage,fuel_type_Diesel,fuel_type_Gasoline,fuel_type_Hybrid,accident,brand_encoded,ext_col_encoded
0,54273,2014,73000,0,1,0,0,2,1
1,54274,2015,128032,0,1,0,0,7,3
2,54275,2015,51983,0,1,0,0,2,4
3,54276,2018,29500,0,1,0,1,9,1
4,54277,2020,90000,0,1,0,1,0,1

In [29]:
print("brand_encoded:", train_df.brand_encoded.unique())
print("brand_encoded:", test_df.brand_encoded.unique())

brand_encoded: [ 1  0 19 25 22  4 12  3  5  2  7 24 17 14 23  9 10 16 15 18 20  8 21 11
  6 13]
brand_encoded: [ 2  7  9  0  3 14  4  1 24  6 10 12  8 16 22 13 23 18 20 19  5 17 11 15
 25 21]

In [30]:
print("ext_col_encoded:", train_df.ext_col_encoded.unique())
print("ext_col_encoded:", test_df.ext_col_encoded.unique())

ext_col_encoded: [4 0 6 2 1 5 3]
ext_col_encoded: [1 3 4 5 0 2 6]

converting data type int to float:

In [31]:
train_df['accident'] = train_df['accident'].astype(int)
train_df['price'] = train_df['accident'].astype(float)
train_df['fuel_type_Diesel'] = train_df['accident'].astype(float)
train_df['fuel_type_Gasoline'] = train_df['accident'].astype(float)
train_df['fuel_type_Hybrid'] = train_df['accident'].astype(float)
train_df.dtypes

id                      int64
model_year              int64
milage                  int64
fuel_type_Diesel      float64
fuel_type_Gasoline    float64
fuel_type_Hybrid      float64
accident                int64
brand_encoded           int64
ext_col_encoded         int64
price                 float64
dtype: object

In [32]:
test_df['accident'] = test_df['accident'].astype(int)
test_df['fuel_type_Diesel'] = test_df['accident'].astype(float)
test_df['fuel_type_Gasoline'] = test_df['accident'].astype(float)
test_df['fuel_type_Hybrid'] = test_df['accident'].astype(float)
test_df.dtypes

id                      int64
model_year              int64
milage                  int64
fuel_type_Diesel      float64
fuel_type_Gasoline    float64
fuel_type_Hybrid      float64
accident                int64
brand_encoded           int64
ext_col_encoded         int64
dtype: object

## 2.3 Train-test split
We will split the training data to training set and validation set, and keep the test data as test set.

In [33]:
from sklearn.model_selection import train_test_split

# Setting X asfeatures and y as target variable - price
X = train_df.drop(['price', 'id'], axis=1)  # Features
y = train_df['price']  # Target variable

# Split the data into training and testing sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# X_train.head()

# Build a baseline model
We will build a basic model (say logistic regression/ random forest/ decision tree) as a baseline here where our second, more advanced model (deep learning?) will try to beat.

In [34]:
# import cudf as cu
from sklearn.model_selection import KFold
from sklearn import metrics
# import gc
import xgboost as xgb  # Use XGBRegressor for regression tasks

MAX_TREE_DEPTH = 3
TREE_METHOD = 'hist'
ITERATIONS = 100
SUBSAMPLE = 0.6
REGULARIZATION = 0.5
GAMMA = 0.5
# POS_WEIGHT = 1
EARLY_STOP = 10

model_params = {
    'objective':'reg:squarederror', 
    'max_depth': MAX_TREE_DEPTH, 
    'learning_rate': 0.05, 
    'gamma': GAMMA, 
    'alpha': REGULARIZATION,
    'tree_method': TREE_METHOD, 
    'subsample': SUBSAMPLE, 
#     'scale_pos_weight': POS_WEIGHT, 
#     'silent': 1, 
    'eval_metric': 'rmse',
    'device' : 'cuda'
    }

model = xgb.XGBRegressor(**model_params)

# # Train the model
# model.fit(X_train, y_train, eval_set=[(X_val, y_val)], verbose=True)

nfold = 5
kf = KFold(n_splits=nfold, shuffle=True, random_state=2019)

oof = np.zeros(len(train_df))
predictions = np.zeros(len(test_df))

target = 'price'
predictors = train_df.columns.values.tolist()[1:-1]

In [35]:
%%time

#change target to price...

i = 1
for train_index, valid_index in kf.split(train_df):
    print("\nFold {}".format(i))
    xg_train = xgb.DMatrix(train_df.iloc[train_index][predictors].values,
                           train_df.iloc[train_index][target].values)
    xg_valid = xgb.DMatrix(train_df.iloc[valid_index][predictors].values,
                           train_df.iloc[valid_index][target].values)   

    
    clf = xgb.train(model_params, xg_train, ITERATIONS, evals=[(xg_train, "train"), (xg_valid, "eval")],
                early_stopping_rounds=EARLY_STOP, verbose_eval=True)
    oof[valid_index] = clf.predict(xgb.DMatrix(train_df.iloc[valid_index][predictors].values)) 
    
    predictions += clf.predict(xgb.DMatrix(test_df[predictors].values)) / nfold
    i = i + 1

print("\n\nCV RMSE: {:<0.2f}".format(metrics.mean_squared_error(train_df.price.values, oof)))

Fold 1
[0]	train-rmse:0.41898	eval-rmse:0.42103
[1]	train-rmse:0.39804	eval-rmse:0.39998
[2]	train-rmse:0.37814	eval-rmse:0.37999
[3]	train-rmse:0.35924	eval-rmse:0.36100
[4]	train-rmse:0.34128	eval-rmse:0.34295
[5]	train-rmse:0.32422	eval-rmse:0.32581
[6]	train-rmse:0.30802	eval-rmse:0.30952
[7]	train-rmse:0.29262	eval-rmse:0.29405
[8]	train-rmse:0.27799	eval-rmse:0.27935
[9]	train-rmse:0.26410	eval-rmse:0.26539
[10]	train-rmse:0.25090	eval-rmse:0.25212
[11]	train-rmse:0.23835	eval-rmse:0.23952
[12]	train-rmse:0.22644	eval-rmse:0.22755
[13]	train-rmse:0.21512	eval-rmse:0.21617
[14]	train-rmse:0.20437	eval-rmse:0.20537
[15]	train-rmse:0.19415	eval-rmse:0.19510
[16]	train-rmse:0.18445	eval-rmse:0.18535
[17]	train-rmse:0.17523	eval-rmse:0.17609
[18]	train-rmse:0.16647	eval-rmse:0.16729
[19]	train-rmse:0.15815	eval-rmse:0.15892
[20]	train-rmse:0.15025	eval-rmse:0.15098
[21]	train-rmse:0.14274	eval-rmse:0.14344
[22]	train-rmse:0.13560	eval-rmse:0.13627
[23]	train-rmse:0.12883	eval-rmse:0.12946
[24]	train-rmse:0.12239	eval-rmse:0.12299
[25]	train-rmse:0.11627	eval-rmse:0.11684
[26]	train-rmse:0.11046	eval-rmse:0.11100
[27]	train-rmse:0.10494	eval-rmse:0.10545
[28]	train-rmse:0.09970	eval-rmse:0.10018
[29]	train-rmse:0.09471	eval-rmse:0.09518
[30]	train-rmse:0.08998	eval-rmse:0.09042
[31]	train-rmse:0.08549	eval-rmse:0.08590
[32]	train-rmse:0.08121	eval-rmse:0.08161
[33]	train-rmse:0.07716	eval-rmse:0.07753
[34]	train-rmse:0.07330	eval-rmse:0.07366
[35]	train-rmse:0.06964	eval-rmse:0.06998
[36]	train-rmse:0.06616	eval-rmse:0.06648
[37]	train-rmse:0.06285	eval-rmse:0.06316
[38]	train-rmse:0.05971	eval-rmse:0.06001
[39]	train-rmse:0.05673	eval-rmse:0.05701
[40]	train-rmse:0.05390	eval-rmse:0.05416
[41]	train-rmse:0.05120	eval-rmse:0.05145
[42]	train-rmse:0.04865	eval-rmse:0.04888
[43]	train-rmse:0.04622	eval-rmse:0.04644
[44]	train-rmse:0.04391	eval-rmse:0.04412
[45]	train-rmse:0.04172	eval-rmse:0.04192
[46]	train-rmse:0.03963	eval-rmse:0.03983
[47]	train-rmse:0.03765	eval-rmse:0.03784
[48]	train-rmse:0.03577	eval-rmse:0.03595
[49]	train-rmse:0.03399	eval-rmse:0.03415
[50]	train-rmse:0.03229	eval-rmse:0.03245
[51]	train-rmse:0.03068	eval-rmse:0.03083
[52]	train-rmse:0.02915	eval-rmse:0.02929
[53]	train-rmse:0.02769	eval-rmse:0.02783
[54]	train-rmse:0.02631	eval-rmse:0.02644
[55]	train-rmse:0.02500	eval-rmse:0.02512
[56]	train-rmse:0.02375	eval-rmse:0.02386
[57]	train-rmse:0.02256	eval-rmse:0.02267
[58]	train-rmse:0.02144	eval-rmse:0.02154
[59]	train-rmse:0.02037	eval-rmse:0.02047
[60]	train-rmse:0.01935	eval-rmse:0.01945
[61]	train-rmse:0.01839	eval-rmse:0.01848
[62]	train-rmse:0.01747	eval-rmse:0.01755
[63]	train-rmse:0.01660	eval-rmse:0.01668
[64]	train-rmse:0.01577	eval-rmse:0.01585
[65]	train-rmse:0.01498	eval-rmse:0.01506
[66]	train-rmse:0.01424	eval-rmse:0.01431
[67]	train-rmse:0.01353	eval-rmse:0.01359
[68]	train-rmse:0.01285	eval-rmse:0.01292
[69]	train-rmse:0.01221	eval-rmse:0.01227
[70]	train-rmse:0.01160	eval-rmse:0.01166
[71]	train-rmse:0.01103	eval-rmse:0.01108
[72]	train-rmse:0.01048	eval-rmse:0.01053
[73]	train-rmse:0.00996	eval-rmse:0.01000
[74]	train-rmse:0.00946	eval-rmse:0.00951
[75]	train-rmse:0.00899	eval-rmse:0.00903
[76]	train-rmse:0.00854	eval-rmse:0.00858
[77]	train-rmse:0.00812	eval-rmse:0.00816
[78]	train-rmse:0.00771	eval-rmse:0.00775
[79]	train-rmse:0.00733	eval-rmse:0.00737
[80]	train-rmse:0.00697	eval-rmse:0.00700
[81]	train-rmse:0.00662	eval-rmse:0.00665
[82]	train-rmse:0.00629	eval-rmse:0.00632
[83]	train-rmse:0.00598	eval-rmse:0.00601
[84]	train-rmse:0.00568	eval-rmse:0.00571
[85]	train-rmse:0.00540	eval-rmse:0.00543
[86]	train-rmse:0.00513	eval-rmse:0.00516
[87]	train-rmse:0.00488	eval-rmse:0.00490
[88]	train-rmse:0.00464	eval-rmse:0.00466
[89]	train-rmse:0.00441	eval-rmse:0.00443
[90]	train-rmse:0.00441	eval-rmse:0.00443
[91]	train-rmse:0.00441	eval-rmse:0.00443
[92]	train-rmse:0.00441	eval-rmse:0.00443
[93]	train-rmse:0.00441	eval-rmse:0.00443
[94]	train-rmse:0.00441	eval-rmse:0.00443
[95]	train-rmse:0.00441	eval-rmse:0.00443
[96]	train-rmse:0.00441	eval-rmse:0.00443
[97]	train-rmse:0.00441	eval-rmse:0.00443
[98]	train-rmse:0.00441	eval-rmse:0.00443
[99]	train-rmse:0.00441	eval-rmse:0.00443

Fold 2
[0]	train-rmse:0.41955	eval-rmse:0.41878
[1]	train-rmse:0.39857	eval-rmse:0.39785
[2]	train-rmse:0.37865	eval-rmse:0.37796
[3]	train-rmse:0.35972	eval-rmse:0.35906
[4]	train-rmse:0.34174	eval-rmse:0.34112
[5]	train-rmse:0.32466	eval-rmse:0.32406
[6]	train-rmse:0.30843	eval-rmse:0.30787
[7]	train-rmse:0.29301	eval-rmse:0.29248
[8]	train-rmse:0.27837	eval-rmse:0.27786
[9]	train-rmse:0.26445	eval-rmse:0.26397
[10]	train-rmse:0.25123	eval-rmse:0.25077
[11]	train-rmse:0.23867	eval-rmse:0.23824
[12]	train-rmse:0.22674	eval-rmse:0.22633
[13]	train-rmse:0.21541	eval-rmse:0.21502
[14]	train-rmse:0.20464	eval-rmse:0.20427
[15]	train-rmse:0.19441	eval-rmse:0.19406
[16]	train-rmse:0.18470	eval-rmse:0.18436
[17]	train-rmse:0.17547	eval-rmse:0.17514
[18]	train-rmse:0.16670	eval-rmse:0.16639
[19]	train-rmse:0.15836	eval-rmse:0.15807
[20]	train-rmse:0.15045	eval-rmse:0.15017
[21]	train-rmse:0.14293	eval-rmse:0.14267
[22]	train-rmse:0.13579	eval-rmse:0.13554
[23]	train-rmse:0.12900	eval-rmse:0.12876
[24]	train-rmse:0.12255	eval-rmse:0.12233
[25]	train-rmse:0.11643	eval-rmse:0.11622
[26]	train-rmse:0.11061	eval-rmse:0.11041
[27]	train-rmse:0.10508	eval-rmse:0.10489
[28]	train-rmse:0.09983	eval-rmse:0.09965
[29]	train-rmse:0.09484	eval-rmse:0.09467
[30]	train-rmse:0.09010	eval-rmse:0.08994
[31]	train-rmse:0.08560	eval-rmse:0.08544
[32]	train-rmse:0.08132	eval-rmse:0.08117
[33]	train-rmse:0.07726	eval-rmse:0.07712
[34]	train-rmse:0.07340	eval-rmse:0.07327
[35]	train-rmse:0.06973	eval-rmse:0.06960
[36]	train-rmse:0.06625	eval-rmse:0.06613
[37]	train-rmse:0.06294	eval-rmse:0.06282
[38]	train-rmse:0.05979	eval-rmse:0.05968
[39]	train-rmse:0.05681	eval-rmse:0.05670
[40]	train-rmse:0.05397	eval-rmse:0.05387
[41]	train-rmse:0.05127	eval-rmse:0.05118
[42]	train-rmse:0.04871	eval-rmse:0.04862
[43]	train-rmse:0.04628	eval-rmse:0.04619
[44]	train-rmse:0.04397	eval-rmse:0.04389
[45]	train-rmse:0.04177	eval-rmse:0.04170
[46]	train-rmse:0.03969	eval-rmse:0.03961
[47]	train-rmse:0.03770	eval-rmse:0.03763
[48]	train-rmse:0.03582	eval-rmse:0.03576
[49]	train-rmse:0.03403	eval-rmse:0.03397
[50]	train-rmse:0.03233	eval-rmse:0.03227
[51]	train-rmse:0.03072	eval-rmse:0.03066
[52]	train-rmse:0.02919	eval-rmse:0.02913
[53]	train-rmse:0.02773	eval-rmse:0.02768
[54]	train-rmse:0.02634	eval-rmse:0.02630
[55]	train-rmse:0.02503	eval-rmse:0.02498
[56]	train-rmse:0.02378	eval-rmse:0.02374
[57]	train-rmse:0.02259	eval-rmse:0.02255
[58]	train-rmse:0.02147	eval-rmse:0.02143
[59]	train-rmse:0.02040	eval-rmse:0.02036
[60]	train-rmse:0.01938	eval-rmse:0.01934
[61]	train-rmse:0.01841	eval-rmse:0.01838
[62]	train-rmse:0.01749	eval-rmse:0.01746
[63]	train-rmse:0.01662	eval-rmse:0.01659
[64]	train-rmse:0.01579	eval-rmse:0.01576
[65]	train-rmse:0.01500	eval-rmse:0.01498
[66]	train-rmse:0.01426	eval-rmse:0.01423
[67]	train-rmse:0.01355	eval-rmse:0.01352
[68]	train-rmse:0.01287	eval-rmse:0.01285
[69]	train-rmse:0.01223	eval-rmse:0.01221
[70]	train-rmse:0.01162	eval-rmse:0.01160
[71]	train-rmse:0.01104	eval-rmse:0.01102
[72]	train-rmse:0.01049	eval-rmse:0.01047
[73]	train-rmse:0.00997	eval-rmse:0.00995
[74]	train-rmse:0.00947	eval-rmse:0.00946
[75]	train-rmse:0.00900	eval-rmse:0.00899
[76]	train-rmse:0.00855	eval-rmse:0.00854
[77]	train-rmse:0.00813	eval-rmse:0.00811
[78]	train-rmse:0.00772	eval-rmse:0.00771
[79]	train-rmse:0.00734	eval-rmse:0.00733
[80]	train-rmse:0.00698	eval-rmse:0.00696
[81]	train-rmse:0.00663	eval-rmse:0.00662
[82]	train-rmse:0.00630	eval-rmse:0.00629
[83]	train-rmse:0.00599	eval-rmse:0.00598
[84]	train-rmse:0.00569	eval-rmse:0.00568
[85]	train-rmse:0.00541	eval-rmse:0.00540
[86]	train-rmse:0.00514	eval-rmse:0.00513
[87]	train-rmse:0.00488	eval-rmse:0.00488
[88]	train-rmse:0.00464	eval-rmse:0.00463
[89]	train-rmse:0.00441	eval-rmse:0.00440
[90]	train-rmse:0.00441	eval-rmse:0.00440
[91]	train-rmse:0.00441	eval-rmse:0.00440
[92]	train-rmse:0.00441	eval-rmse:0.00440
[93]	train-rmse:0.00441	eval-rmse:0.00440
[94]	train-rmse:0.00441	eval-rmse:0.00440
[95]	train-rmse:0.00441	eval-rmse:0.00440
[96]	train-rmse:0.00441	eval-rmse:0.00440
[97]	train-rmse:0.00441	eval-rmse:0.00440
[98]	train-rmse:0.00441	eval-rmse:0.00440
[99]	train-rmse:0.00441	eval-rmse:0.00440

Fold 3
[0]	train-rmse:0.41985	eval-rmse:0.41757
[1]	train-rmse:0.39886	eval-rmse:0.39669
[2]	train-rmse:0.37892	eval-rmse:0.37686
[3]	train-rmse:0.35998	eval-rmse:0.35802
[4]	train-rmse:0.34199	eval-rmse:0.34013
[5]	train-rmse:0.32489	eval-rmse:0.32312
[6]	train-rmse:0.30865	eval-rmse:0.30697
[7]	train-rmse:0.29322	eval-rmse:0.29163
[8]	train-rmse:0.27857	eval-rmse:0.27705
[9]	train-rmse:0.26464	eval-rmse:0.26320
[10]	train-rmse:0.25141	eval-rmse:0.25005
[11]	train-rmse:0.23885	eval-rmse:0.23755
[12]	train-rmse:0.22691	eval-rmse:0.22567
[13]	train-rmse:0.21557	eval-rmse:0.21439
[14]	train-rmse:0.20479	eval-rmse:0.20368
[15]	train-rmse:0.19456	eval-rmse:0.19350
[16]	train-rmse:0.18483	eval-rmse:0.18382
[17]	train-rmse:0.17559	eval-rmse:0.17464
[18]	train-rmse:0.16682	eval-rmse:0.16591
[19]	train-rmse:0.15848	eval-rmse:0.15762
[20]	train-rmse:0.15056	eval-rmse:0.14974
[21]	train-rmse:0.14303	eval-rmse:0.14225
[22]	train-rmse:0.13588	eval-rmse:0.13514
[23]	train-rmse:0.12909	eval-rmse:0.12839
[24]	train-rmse:0.12264	eval-rmse:0.12197
[25]	train-rmse:0.11651	eval-rmse:0.11588
[26]	train-rmse:0.11069	eval-rmse:0.11009
[27]	train-rmse:0.10516	eval-rmse:0.10459
[28]	train-rmse:0.09990	eval-rmse:0.09936
[29]	train-rmse:0.09491	eval-rmse:0.09439
[30]	train-rmse:0.09017	eval-rmse:0.08968
[31]	train-rmse:0.08566	eval-rmse:0.08520
[32]	train-rmse:0.08138	eval-rmse:0.08094
[33]	train-rmse:0.07732	eval-rmse:0.07689
[34]	train-rmse:0.07345	eval-rmse:0.07305
[35]	train-rmse:0.06978	eval-rmse:0.06940
[36]	train-rmse:0.06630	eval-rmse:0.06593
[37]	train-rmse:0.06298	eval-rmse:0.06264
[38]	train-rmse:0.05984	eval-rmse:0.05951
[39]	train-rmse:0.05685	eval-rmse:0.05654
[40]	train-rmse:0.05401	eval-rmse:0.05371
[41]	train-rmse:0.05131	eval-rmse:0.05103
[42]	train-rmse:0.04875	eval-rmse:0.04848
[43]	train-rmse:0.04631	eval-rmse:0.04606
[44]	train-rmse:0.04400	eval-rmse:0.04376
[45]	train-rmse:0.04180	eval-rmse:0.04157
[46]	train-rmse:0.03971	eval-rmse:0.03950
[47]	train-rmse:0.03773	eval-rmse:0.03753
[48]	train-rmse:0.03585	eval-rmse:0.03565
[49]	train-rmse:0.03406	eval-rmse:0.03387
[50]	train-rmse:0.03236	eval-rmse:0.03218
[51]	train-rmse:0.03074	eval-rmse:0.03057
[52]	train-rmse:0.02921	eval-rmse:0.02905
[53]	train-rmse:0.02775	eval-rmse:0.02760
[54]	train-rmse:0.02636	eval-rmse:0.02622
[55]	train-rmse:0.02505	eval-rmse:0.02491
[56]	train-rmse:0.02380	eval-rmse:0.02367
[57]	train-rmse:0.02261	eval-rmse:0.02249
[58]	train-rmse:0.02148	eval-rmse:0.02136
[59]	train-rmse:0.02041	eval-rmse:0.02030
[60]	train-rmse:0.01939	eval-rmse:0.01929
[61]	train-rmse:0.01842	eval-rmse:0.01832
[62]	train-rmse:0.01751	eval-rmse:0.01741
[63]	train-rmse:0.01663	eval-rmse:0.01654
[64]	train-rmse:0.01580	eval-rmse:0.01572
[65]	train-rmse:0.01502	eval-rmse:0.01493
[66]	train-rmse:0.01427	eval-rmse:0.01419
[67]	train-rmse:0.01356	eval-rmse:0.01348
[68]	train-rmse:0.01288	eval-rmse:0.01281
[69]	train-rmse:0.01224	eval-rmse:0.01217
[70]	train-rmse:0.01163	eval-rmse:0.01157
[71]	train-rmse:0.01105	eval-rmse:0.01099
[72]	train-rmse:0.01050	eval-rmse:0.01044
[73]	train-rmse:0.00998	eval-rmse:0.00992
[74]	train-rmse:0.00948	eval-rmse:0.00943
[75]	train-rmse:0.00901	eval-rmse:0.00896
[76]	train-rmse:0.00856	eval-rmse:0.00851
[77]	train-rmse:0.00813	eval-rmse:0.00809
[78]	train-rmse:0.00773	eval-rmse:0.00769
[79]	train-rmse:0.00735	eval-rmse:0.00731
[80]	train-rmse:0.00698	eval-rmse:0.00694
[81]	train-rmse:0.00663	eval-rmse:0.00660
[82]	train-rmse:0.00630	eval-rmse:0.00627
[83]	train-rmse:0.00599	eval-rmse:0.00596
[84]	train-rmse:0.00569	eval-rmse:0.00566
[85]	train-rmse:0.00541	eval-rmse:0.00538
[86]	train-rmse:0.00514	eval-rmse:0.00512
[87]	train-rmse:0.00489	eval-rmse:0.00486
[88]	train-rmse:0.00465	eval-rmse:0.00462
[89]	train-rmse:0.00442	eval-rmse:0.00439
[90]	train-rmse:0.00442	eval-rmse:0.00439
[91]	train-rmse:0.00442	eval-rmse:0.00439
[92]	train-rmse:0.00442	eval-rmse:0.00439
[93]	train-rmse:0.00442	eval-rmse:0.00439
[94]	train-rmse:0.00442	eval-rmse:0.00439
[95]	train-rmse:0.00442	eval-rmse:0.00439
[96]	train-rmse:0.00442	eval-rmse:0.00439
[97]	train-rmse:0.00420	eval-rmse:0.00417
[98]	train-rmse:0.00420	eval-rmse:0.00417
[99]	train-rmse:0.00420	eval-rmse:0.00417

Fold 4
[0]	train-rmse:0.41951	eval-rmse:0.41893
[1]	train-rmse:0.39854	eval-rmse:0.39799
[2]	train-rmse:0.37862	eval-rmse:0.37810
[3]	train-rmse:0.35969	eval-rmse:0.35920
[4]	train-rmse:0.34171	eval-rmse:0.34124
[5]	train-rmse:0.32463	eval-rmse:0.32418
[6]	train-rmse:0.30840	eval-rmse:0.30798
[7]	train-rmse:0.29299	eval-rmse:0.29258
[8]	train-rmse:0.27834	eval-rmse:0.27796
[9]	train-rmse:0.26443	eval-rmse:0.26406
[10]	train-rmse:0.25121	eval-rmse:0.25086
[11]	train-rmse:0.23865	eval-rmse:0.23832
[12]	train-rmse:0.22672	eval-rmse:0.22641
[13]	train-rmse:0.21539	eval-rmse:0.21509
[14]	train-rmse:0.20462	eval-rmse:0.20434
[15]	train-rmse:0.19440	eval-rmse:0.19413
[16]	train-rmse:0.18468	eval-rmse:0.18443
[17]	train-rmse:0.17545	eval-rmse:0.17521
[18]	train-rmse:0.16668	eval-rmse:0.16645
[19]	train-rmse:0.15835	eval-rmse:0.15813
[20]	train-rmse:0.15044	eval-rmse:0.15023
[21]	train-rmse:0.14292	eval-rmse:0.14272
[22]	train-rmse:0.13577	eval-rmse:0.13559
[23]	train-rmse:0.12899	eval-rmse:0.12881
[24]	train-rmse:0.12254	eval-rmse:0.12237
[25]	train-rmse:0.11642	eval-rmse:0.11626
[26]	train-rmse:0.11060	eval-rmse:0.11045
[27]	train-rmse:0.10507	eval-rmse:0.10493
[28]	train-rmse:0.09982	eval-rmse:0.09968
[29]	train-rmse:0.09483	eval-rmse:0.09470
[30]	train-rmse:0.09009	eval-rmse:0.08997
[31]	train-rmse:0.08559	eval-rmse:0.08547
[32]	train-rmse:0.08132	eval-rmse:0.08120
[33]	train-rmse:0.07725	eval-rmse:0.07715
[34]	train-rmse:0.07339	eval-rmse:0.07329
[35]	train-rmse:0.06973	eval-rmse:0.06963
[36]	train-rmse:0.06624	eval-rmse:0.06615
[37]	train-rmse:0.06293	eval-rmse:0.06285
[38]	train-rmse:0.05979	eval-rmse:0.05971
[39]	train-rmse:0.05680	eval-rmse:0.05672
[40]	train-rmse:0.05396	eval-rmse:0.05389
[41]	train-rmse:0.05127	eval-rmse:0.05120
[42]	train-rmse:0.04871	eval-rmse:0.04864
[43]	train-rmse:0.04627	eval-rmse:0.04621
[44]	train-rmse:0.04396	eval-rmse:0.04390
[45]	train-rmse:0.04177	eval-rmse:0.04171
[46]	train-rmse:0.03968	eval-rmse:0.03963
[47]	train-rmse:0.03770	eval-rmse:0.03765
[48]	train-rmse:0.03582	eval-rmse:0.03577
[49]	train-rmse:0.03403	eval-rmse:0.03398
[50]	train-rmse:0.03233	eval-rmse:0.03229
[51]	train-rmse:0.03072	eval-rmse:0.03067
[52]	train-rmse:0.02918	eval-rmse:0.02914
[53]	train-rmse:0.02773	eval-rmse:0.02769
[54]	train-rmse:0.02634	eval-rmse:0.02631
[55]	train-rmse:0.02503	eval-rmse:0.02499
[56]	train-rmse:0.02378	eval-rmse:0.02375
[57]	train-rmse:0.02259	eval-rmse:0.02256
[58]	train-rmse:0.02146	eval-rmse:0.02143
[59]	train-rmse:0.02039	eval-rmse:0.02037
[60]	train-rmse:0.01938	eval-rmse:0.01935
[61]	train-rmse:0.01841	eval-rmse:0.01838
[62]	train-rmse:0.01749	eval-rmse:0.01747
[63]	train-rmse:0.01662	eval-rmse:0.01660
[64]	train-rmse:0.01579	eval-rmse:0.01577
[65]	train-rmse:0.01500	eval-rmse:0.01498
[66]	train-rmse:0.01426	eval-rmse:0.01424
[67]	train-rmse:0.01354	eval-rmse:0.01353
[68]	train-rmse:0.01287	eval-rmse:0.01285
[69]	train-rmse:0.01223	eval-rmse:0.01221
[70]	train-rmse:0.01162	eval-rmse:0.01160
[71]	train-rmse:0.01104	eval-rmse:0.01103
[72]	train-rmse:0.01049	eval-rmse:0.01048
[73]	train-rmse:0.00997	eval-rmse:0.00995
[74]	train-rmse:0.00947	eval-rmse:0.00946
[75]	train-rmse:0.00900	eval-rmse:0.00899
[76]	train-rmse:0.00855	eval-rmse:0.00854
[77]	train-rmse:0.00813	eval-rmse:0.00812
[78]	train-rmse:0.00772	eval-rmse:0.00771
[79]	train-rmse:0.00734	eval-rmse:0.00733
[80]	train-rmse:0.00697	eval-rmse:0.00697
[81]	train-rmse:0.00663	eval-rmse:0.00662
[82]	train-rmse:0.00630	eval-rmse:0.00629
[83]	train-rmse:0.00599	eval-rmse:0.00598
[84]	train-rmse:0.00569	eval-rmse:0.00568
[85]	train-rmse:0.00541	eval-rmse:0.00540
[86]	train-rmse:0.00514	eval-rmse:0.00513
[87]	train-rmse:0.00488	eval-rmse:0.00488
[88]	train-rmse:0.00464	eval-rmse:0.00464
[89]	train-rmse:0.00441	eval-rmse:0.00441
[90]	train-rmse:0.00441	eval-rmse:0.00441
[91]	train-rmse:0.00441	eval-rmse:0.00441
[92]	train-rmse:0.00441	eval-rmse:0.00441
[93]	train-rmse:0.00441	eval-rmse:0.00441
[94]	train-rmse:0.00441	eval-rmse:0.00441
[95]	train-rmse:0.00441	eval-rmse:0.00441
[96]	train-rmse:0.00441	eval-rmse:0.00441
[97]	train-rmse:0.00441	eval-rmse:0.00441
[98]	train-rmse:0.00441	eval-rmse:0.00441
[99]	train-rmse:0.00419	eval-rmse:0.00419

Fold 5
[0]	train-rmse:0.41908	eval-rmse:0.42067
[1]	train-rmse:0.39813	eval-rmse:0.39964
[2]	train-rmse:0.37822	eval-rmse:0.37966
[3]	train-rmse:0.35932	eval-rmse:0.36068
[4]	train-rmse:0.34136	eval-rmse:0.34265
[5]	train-rmse:0.32429	eval-rmse:0.32553
[6]	train-rmse:0.30808	eval-rmse:0.30925
[7]	train-rmse:0.29268	eval-rmse:0.29379
[8]	train-rmse:0.27805	eval-rmse:0.27911
[9]	train-rmse:0.26415	eval-rmse:0.26516
[10]	train-rmse:0.25095	eval-rmse:0.25190
[11]	train-rmse:0.23841	eval-rmse:0.23931
[12]	train-rmse:0.22649	eval-rmse:0.22735
[13]	train-rmse:0.21517	eval-rmse:0.21599
[14]	train-rmse:0.20441	eval-rmse:0.20519
[15]	train-rmse:0.19420	eval-rmse:0.19493
[16]	train-rmse:0.18449	eval-rmse:0.18519
[17]	train-rmse:0.17527	eval-rmse:0.17593
[18]	train-rmse:0.16651	eval-rmse:0.16714
[19]	train-rmse:0.15819	eval-rmse:0.15879
[20]	train-rmse:0.15028	eval-rmse:0.15085
[21]	train-rmse:0.14277	eval-rmse:0.14331
[22]	train-rmse:0.13563	eval-rmse:0.13615
[23]	train-rmse:0.12885	eval-rmse:0.12934
[24]	train-rmse:0.12242	eval-rmse:0.12288
[25]	train-rmse:0.11630	eval-rmse:0.11674
[26]	train-rmse:0.11049	eval-rmse:0.11091
[27]	train-rmse:0.10496	eval-rmse:0.10536
[28]	train-rmse:0.09972	eval-rmse:0.10010
[29]	train-rmse:0.09474	eval-rmse:0.09510
[30]	train-rmse:0.09000	eval-rmse:0.09034
[31]	train-rmse:0.08550	eval-rmse:0.08583
[32]	train-rmse:0.08123	eval-rmse:0.08154
[33]	train-rmse:0.07717	eval-rmse:0.07747
[34]	train-rmse:0.07332	eval-rmse:0.07360
[35]	train-rmse:0.06965	eval-rmse:0.06992
[36]	train-rmse:0.06617	eval-rmse:0.06643
[37]	train-rmse:0.06287	eval-rmse:0.06311
[38]	train-rmse:0.05973	eval-rmse:0.05995
[39]	train-rmse:0.05674	eval-rmse:0.05696
[40]	train-rmse:0.05391	eval-rmse:0.05411
[41]	train-rmse:0.05122	eval-rmse:0.05141
[42]	train-rmse:0.04866	eval-rmse:0.04884
[43]	train-rmse:0.04623	eval-rmse:0.04640
[44]	train-rmse:0.04392	eval-rmse:0.04408
[45]	train-rmse:0.04172	eval-rmse:0.04188
[46]	train-rmse:0.03964	eval-rmse:0.03979
[47]	train-rmse:0.03766	eval-rmse:0.03780
[48]	train-rmse:0.03578	eval-rmse:0.03592
[49]	train-rmse:0.03399	eval-rmse:0.03412
[50]	train-rmse:0.03230	eval-rmse:0.03242
[51]	train-rmse:0.03068	eval-rmse:0.03080
[52]	train-rmse:0.02915	eval-rmse:0.02926
[53]	train-rmse:0.02770	eval-rmse:0.02780
[54]	train-rmse:0.02631	eval-rmse:0.02641
[55]	train-rmse:0.02500	eval-rmse:0.02510
[56]	train-rmse:0.02375	eval-rmse:0.02384
[57]	train-rmse:0.02257	eval-rmse:0.02265
[58]	train-rmse:0.02144	eval-rmse:0.02152
[59]	train-rmse:0.02037	eval-rmse:0.02045
[60]	train-rmse:0.01936	eval-rmse:0.01943
[61]	train-rmse:0.01839	eval-rmse:0.01846
[62]	train-rmse:0.01747	eval-rmse:0.01754
[63]	train-rmse:0.01660	eval-rmse:0.01666
[64]	train-rmse:0.01577	eval-rmse:0.01583
[65]	train-rmse:0.01499	eval-rmse:0.01504
[66]	train-rmse:0.01424	eval-rmse:0.01429
[67]	train-rmse:0.01353	eval-rmse:0.01358
[68]	train-rmse:0.01286	eval-rmse:0.01291
[69]	train-rmse:0.01222	eval-rmse:0.01226
[70]	train-rmse:0.01161	eval-rmse:0.01165
[71]	train-rmse:0.01103	eval-rmse:0.01107
[72]	train-rmse:0.01048	eval-rmse:0.01052
[73]	train-rmse:0.00996	eval-rmse:0.01000
[74]	train-rmse:0.00946	eval-rmse:0.00950
[75]	train-rmse:0.00899	eval-rmse:0.00903

since the model & data is not that complicated, we should REALLY try using dataframe instead of spend time figuring out DMatrix...

* ~The target variable price is a continuous numeric value, which makes it a regression problem. However, the evaluation metric roc_auc_score is used for binary classification tasks. For regression tasks, you should use metrics like mean squared error (MSE), mean absolute error (MAE), or R-squared (R^2).~

* The xgb.train function takes the eval_metric parameter, which specifies the evaluation metric for the training process. For regression tasks, you can use metrics like 'rmse' (root mean squared error) or 'mae' (mean absolute error).

* Converting all features to int64 data type is not necessary, and it might not be the best approach. XGBoost can handle different data types natively. For example, it's better to keep the one-hot encoded features as float data type.

# Model Evaluation

can track feature importance with XGBoost's model.feature_importances_

# Final Prediction